<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zyy.web.mapper.CmsMessageMapper">
    
    <resultMap type="CmsMessage" id="CmsMessageResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="content"    column="content"    />
        <result property="recipientType"    column="recipient_type"    />
        <result property="orgId"    column="org_id"    />
        <result property="userId"    column="user_id"    />
        <result property="sendName"    column="send_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCmsMessageVo">
        select id, title, content, recipient_type, org_id, user_id, send_name, create_by, create_time, update_by, update_time from cms_message
    </sql>

    <select id="selectCmsMessageList" parameterType="CmsMessage" resultMap="CmsMessageResult">
        <include refid="selectCmsMessageVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="recipientType != null "> and recipient_type = #{recipientType}</if>
            <if test="orgId != null "> and org_id = #{orgId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="sendName != null  and sendName != ''"> and send_name like concat('%', #{sendName}, '%')</if>
        </where>
    </select>
    
    <select id="selectCmsMessageById" parameterType="Long" resultMap="CmsMessageResult">
        <include refid="selectCmsMessageVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCmsMessage" parameterType="CmsMessage" useGeneratedKeys="true" keyProperty="id">
        insert into cms_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null">title,</if>
            <if test="content != null">content,</if>
            <if test="recipientType != null">recipient_type,</if>
            <if test="orgId != null">org_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="sendName != null">send_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null">#{title},</if>
            <if test="content != null">#{content},</if>
            <if test="recipientType != null">#{recipientType},</if>
            <if test="orgId != null">#{orgId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="sendName != null">#{sendName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateCmsMessage" parameterType="CmsMessage">
        update cms_message
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="recipientType != null">recipient_type = #{recipientType},</if>
            <if test="orgId != null">org_id = #{orgId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="sendName != null">send_name = #{sendName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCmsMessageById" parameterType="Long">
        delete from cms_message where id = #{id}
    </delete>

    <delete id="deleteCmsMessageByIds" parameterType="String">
        delete from cms_message where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>